
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cargar PIPES</h2>
<body>
    @using (@Html.BeginForm("SubirPIPES", "FolioSIAC", FormMethod.Post,
             new { enctype = "multipart/form-data" }))
    {
        
       <p>@Session["MENSAJE"]</p>
        
        <table>
            <tr>
                <td style="width: 200px;">
                    <b>Selecciona el archivo:</b>
                </td>
                <td>
                    <input type="file" name="file" id="file" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" style="padding-top: 30px">
                    <input type="submit" class="btn btn-primary" value="Subir PIPES" name="submit" />
                </td>
            </tr>
        </table>
    }
</body>
