
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Cargar PIPES</title>
    <script type="text/javascript">

       

        function SubirPIPESS()
        {
            $('#myModal').modal({ show: true });
            var formData = new FormData();
            var totalFiles = document.getElementById("file").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("file").files[i];

                formData.append("file", file);
            }
            var urlSave = '@Url.Action("SubirPIPES", "FolioSIAC")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#myModal").modal('hide');
                    alert(response);
                },
                error: function (error) {
                    $("#myModal").modal('hide');
                    alert("Error!");
                }
            });

        }
    </script>
</head>

<body>
    <div tabindex="-1" class="modal hide fade" id="myModal" role="dialog">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">×</button>
            <h3>Modal header</h3>
        </div>
        <div class="modal-body">
            <label id="llbl">Cargando...</label>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
    <table>
        <tr>
            <td style="width: 200px;">
                <b>Selecciona el archivo:</b>
            </td>
            <td>
                <input type="file" name="file" id="file" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2" style="padding-top: 30px">
                <input id="btnSubir" onclick="SubirPIPESS()" class="btn btn-primary" type="button" value="Subir" name="submit" />
            </td>
        </tr>
    </table>
</body>
</html>
