
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default toggle panelMove panelClose panelRefresh">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-magic"></i> Form wizard</h4>
                    </div>
                    <div class="panel-body p0">
                        <div id="wizard" class="bwizard">
                            <ul class="bwizard-steps">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab">
                                        <span class="step-number">1</span>
                                        <span class="step-text">Personal Info</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab">
                                        <span class="step-number">2</span>
                                        <span class="step-text">Contact Info</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab">
                                        <span class="step-number">3</span>
                                        <span class="step-text">Account Info</span>
                                    </a>
                                </li>
                            </ul>
                            <form class="form-horizontal" role="form">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Nombre</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="Nombre" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Apellido Paterno</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="ApellidoPaterno" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Apellido Materno</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="ApellidoMaterno" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="#">&larr; Back</a>
                                </li>
                                <li class="next">
                                    <a href="#">Next &rarr;</a>
                                </li>
                                <li class="next finish" style="display:none;">
                                    <a href="#">Finish</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default toggle panelMove panelClose panelRefresh">

                </div>

                <div class="panel panel-default toggle panelMove panelClose panelRefresh">

                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        var urlSave = '@Url.Action("CargarPersonas","Persona")';
        var _parametro = "";
        $.ajax({
            type: "POST",
            url: urlSave,
            dataType: "json",
            data: JSON.stringify({ parametro: _parametro }),
            success: function (personas) {
                $.each(personas, function (i, persona) {
                    $("#dllPromotores").append('<option value="' + persona.Value + '">' + persona.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Error');
            }
        });

    });

    $(".js-example-basic-multiple").select2({
        placeholder: "Promotor"
    });

    function Guardar()
    {
        //alert("Guardar");
        var urlSave = '@Url.Action("GuardarPersona","Persona")';
        debugger;
        var _usuario = $("#txtUsuario").val();
        var _contrasena = $("#txtContasena").val();
        var _nombre = $("#txtNombre").val();
        var _aPaterno = $("#txtAPaterno").val();
        var _aMaterno = $("#txtAMaterno").val();
        var _fechaNacimiento = $("#txtFechaNacimiento").val();
        var _rfc = $("#txtRFC").val();
        var _matricula = $("#txtClavePromotor").val();
        var _idGerentePromotor = $("#dllPromotores").val();
        var _area = $("#txtArea").val();
        var _estrategia = $("#txtEstrategia").val();
        var _idJerarquia = $("#ddlJerarquia").val();

        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({
                idJerarquia: _idJerarquia, usuario: _usuario, contrasena: _contrasena,
                nombre: _nombre, aPaterno: _aPaterno, aMaterno: _aMaterno, fechaNacimiento: _fechaNacimiento, rfc: _rfc,
                matricula: _matricula, idGerentePromotor: _idGerentePromotor, area: _area, estrategia: _estrategia,
                activo: 1,
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
        alert("Persona registrada");
    }


</script>
