
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-magic"></i> Alta de personal</h4>
                    </div>
                    <div class="panel-body p0">
                        <div id="wizard" class="bwizard">
                            <ul class="bwizard-steps">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab">
                                        <span class="step-number">1</span>
                                        <span class="step-text">Información personal</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab">
                                        <span class="step-number">2</span>
                                        <span class="step-text">Información del grupo</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab">
                                        <span class="step-number">3</span>
                                        <span class="step-text">Información de contacto</span>
                                    </a>
                                </li>
                            </ul>
                            <form class="form-horizontal" role="form">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Nombre</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="Nombre" id="Nombre" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Apellido Paterno</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="ApellidoPaterno" id="ApellidoPaterno" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Apellido Materno</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="ApellidoMaterno" id="ApellidoMaterno" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">RFC</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="RFC" id="RFC" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label" for="">Fecha de nacimiento</label>
                                            <div class="col-lg-10 col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input id="basic-datepicker" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Usuario</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="Usuario" id="Usuario" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Contraseña</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="Contrasena" id="Contrasena" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Clave promotor</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="Matricula" id="Matricula" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Jerarquia</label>
                                            <div class="col-lg-10 col-md-9">
                                                <select class="form-control select2" id="ddlJerarquia">
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Jefe</label>
                                            <div class="col-lg-10 col-md-9">
                                                <select class="form-control select2" id="ddlJefe">
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab3">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">email</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="email" id="email" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-3 control-label">Teléfono</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input class="form-control" name="Telefono" id="Telefono" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="#">&larr; Atras</a>
                                </li>
                                <li class="next">
                                    <a href="#">Siguiente &rarr;</a>
                                </li>
                                <li class="next finish" style="display:none;">
                                    <a href="#">Guardar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default toggle panelMove panelClose panelRefresh">

                </div>

                <div class="panel panel-default toggle panelMove panelClose panelRefresh">

                </div>

            </div>
        </div>
    </div>

<script>
    $(function () {
        $("#basic-datepicker").datepicker();
    });
    

    $(function () {
        var urlSave = '@Url.Action("CargarJerarquias", "Persona")';
        var _parametro = "";
        $.ajax({
            type: "POST",
            url: urlSave,
            dataType: "json",
            data: JSON.stringify({ parametro: _parametro }),
            success: function (jerarquias) {
                $.each(jerarquias, function (i, jerarquia) {
                    $("#ddlJerarquia").append('<option value="' + jerarquia.Value + '">' + jerarquia.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Error');
            }
        });
    });

    $(function () {
        var urlSave = '@Url.Action("CargarPersonas", "Persona")';
        var _parametro = "";
        $.ajax({
            type: "POST",
            url: urlSave,
            dataType: "json",
            data: JSON.stringify({ parametro: _parametro }),
            success: function (personas) {
                $.each(personas, function (i, persona) {
                    $("#ddlJefe").append('<option value="' + persona.Value + '">' + persona.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Error');
            }
        });

    });

    $(".js-example-basic-multiple").select2({
        placeholder: "Promotor"
    });

    function Guardar()
    {
        //alert("Guardar");
        var urlSave = '@Url.Action("InsertPersona", "Persona")';
        
        var _amaterno = $("#ApellidoMaterno").val();
        var _apaterno = $("#ApellidoPaterno").val();
        var _contrasena = $("#Contrasena").val();
        var _email = $("#email").val();
        var _fechaNacimiento = $("#basic-datepicker").val();
        var _idJefe = $("#ddlJefe").val();
        var _idJerarquia = $("#ddlJerarquia").val();
        var _matricula = $("#Matricula").val();
        var _nombre = $("#Nombre").val();
        var _rfc = $("#RFC").val();
        var _telefono = $("#Telefono").val();
        var _usuario = $("#Usuario").val();
        
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({
                aMaterno: _amaterno, aPaterno: _apaterno, contrasena: _contrasena, email: _email, fechaNacimiento: _fechaNacimiento, idJefe: _idJefe,
                idJerarquia: _idJerarquia, matricula: _matricula, nombre: _nombre, rfc: _rfc, telefono: _telefono, usuario: _usuario
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                alert("Persona guardada!");
            },
            error: function (error) {
            }
        });
    }


</script>
