
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <script type="text/javascript" src="~/Scripts/getorgchart.js"></script>
    <link href="~/Scripts/getorgchart.css" rel="stylesheet" />
</head>
<body>
    <input id="btnBuscar" type="button" onclick="Buscar()" class="btn btn-primary" value="Ver mi organigrama" />
    <div id="promotores"></div>
</body>
</html>
<script>
    $(function () {
       
    });

    function Buscar() {
        //string fechaIncial, string fechaFinal, int IsPosteada
        var urlSave = '@Url.Action("GetOrganigrama", "MiOrganigrama")';
        var paso = "";
        var isposteada = 0;
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ campo: paso }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                var orgchart = new getOrgChart(document.getElementById("promotores"), {
                    color: "blue",
                    enableEdit: false,
                    dataSource: data,
                });
            },
            error: function (result) {
                alert(result);
            }
        });

        

        
    }
</script>
